<nav class="navbar bg-body-tertiary">
    <div class="container d-flex justify-content-between align-items-center">
      <a class="navbar-brand" href="/">Vacation Request App</a>
      <% if (auth) { %>
        <a href="/profile"><img src="/assets/profile.jpg" class="img rounded-circle" width="45px" alt="Profile"></a>
      <% } else { %>
        <a href="/login" class="btn btn-outline-primary btn-sm">Login</a>
      <% } %>
    </div>
</nav>